<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">



<context:component-scan base-package="com"></context:component-scan>

<bean name="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
	 	   p:driverClassName="oracle.jdbc.driver.OracleDriver"
	 	   p:url="jdbc:oracle:thin:@127.0.0.1:1521:orcl"
	 	   p:username="scott"  
	 	   p:password="tiger"
	 	   p:maxTotal="100"/>


<bean name="sqlSessionFactory" 
		  class="org.mybatis.spring.SqlSessionFactoryBean"
		  p:dataSource-ref="dataSource"
		  p:configLocation="com/common/config/mybatis/mybatis-config.xml"/>
		  
		  
		  
<bean name="sqlSessionTemplate"
		  class="org.mybatis.spring.SqlSessionTemplate" 
		  c:sqlSessionFactory-ref="sqlSessionFactory"/>		  
		  
 <bean name="txmanager"
		 				class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		 				p:dataSource-ref="dataSource"/>		  

<tx:annotation-driven transaction-manager="txmanager"/>	

</beans>
