<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
<!-- 
		BasicDataSource		->SqlSessionFactoryBean -> SqlSessionTemplate-> CustomerDaoImpl -> CustomerServiceImpl
		mybatis설정파일위치	->
	 -->
	 <!-- DataSource -->
	 <bean name="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
	 	   p:driverClassName="oracle.jdbc.driver.OracleDriver"
	 	   p:url="jdbc:oracle:thin:@127.0.0.1:1521:XE"
	 	   p:username="scott"  
	 	   p:password="tiger"
	 	   p:maxTotal="100"/>
	<!--
		- SqlSessionFactoryBean
		- SqlSessionFactory를 생성하는 Bean으로 DataSource와 마이바티스 설정파일 또는 설정을 태그로 주입받아
		   SqlSessionFactory를 생성한다. 
	-->
	<bean name="sqlSessionFactory" 
		  class="org.mybatis.spring.SqlSessionFactoryBean"
		  p:dataSource-ref="dataSource"
		  p:configLocation="com/common/mapper/config/mybatis-config.xml"/>
	<!-- 
		- SqlSessionTemplate 
			- SqlSession 기능을 제공하는 클래스
			- 주입받은 SqlSessionFactoryBean을 이용해 SqlSession객체를 생성해 메소드를 호출한다.
	-->
	<bean name="sqlSessionTemplate"
		  class="org.mybatis.spring.SqlSessionTemplate" 
		  c:sqlSessionFactory-ref="sqlSessionFactory"/>

	<bean name="memberDao" class="com.member.dao.MemberDaoImpl"
		c:session-ref="sqlSessionTemplate"/>
	<context:component-scan base-package="com.common, com.member"/>

</beans>
