<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="common">
	<select id="selectByCodeCateory" parameterType="string" resultType="string">
		SELECT type_name 
		FROM type_list 
		WHERE word_type = #{word_type}
	</select>
	<select id="selectGroupNameById" parameterType="string" resultType="string">
		SELECT group_name 
		FROM groups 
		WHERE group_id=(SELECT group_id FROM member WHERE m_id = #{id})
	</select>
	<select id="selectSingerByGroup" parameterType="_int" resultType="singer">
		SELECT singer_id, singer_name 
		FROM singer 
		WHERE group_id = #{group_id}
	</select>
	<select id="selectAllSinger" resultType="singer">
		SELECT * 
		FROM singer
	</select>
	<select id="selectGroupList" resultType="string">
		SELECT group_name
		FROM groups
		WHERE group_id > 10
	</select>
	
	<select id="selectMainLink" resultType="string">
		SELECT link_address 
		FROM link_list
		WHERE link_type ='main_link'
	</select>
	
	<select id="searchGroup" parameterType="string" resultType="Group">
		SELECT * 
		FROM groups 
		WHERE UPPER(group_name) LIKE '%'||UPPER(#{keyword})||'%'
	</select>
</mapper> 
