<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
<typeAliases>
		<package name="com.board.vo"/>
		<package name="com.member.vo"/>
		<package name="com.common.vo"/>
</typeAliases>


	<mappers>
		<mapper resource="com/common/mapper/config/boardMapper.xml" />
		<mapper resource="com/common/mapper/config/memberMapper.xml" />
		<mapper resource="com/common/mapper/config/scheduleMapper.xml" />
		<mapper resource="com/common/mapper/config/commentMapper.xml" />
		<mapper resource="com/common/mapper/config/singerMapper.xml" />
	</mappers>



</configuration>

